html,
body {
    min-height: 100vh;
    background: #19325f;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #19325f;
}

.navbar a {
    color: white;
}

.cursor-about {
    cursor: default;
}

.carousel-item-1 {
    height: 32rem;
    background: black;
    color: white;
    position: relative;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
.container-text {
    position: relative;
    background-color: #19325f89;
}
.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: top;
    background-size: cover;
}

.about-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: top;
    background-size: cover;
}

.line-divider {
    width: 10vh;
    height: 5px;
    background-color: #b6e8e9;
    display: inline-block;
    border-radius: 5px;
}

.card {
    box-shadow: 0px 7px 15px rgba(247, 246, 246, 0.269);
    border-radius: 10px;
    border-width: 0px;
}

.card-header{
    color: white;
    background-color: #19325F;
}
.card-body {
    color: #19325F;
} 

.img-thumbnail {
    width: 15vh;
    height: auto;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: white !important;
    color: #19325f !important;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.025); 
}

footer .nav-link,
footer .text-muted a,
footer .mb-0 {
    color: #19325f !important;
}
