@import url(global.css);

.navbar {
    background-color: #ffffff;
}

.contact-img > img {
    height: 2rem;
    width: 2rem;
}

.contact-form {
    background-color: #00000031;
    border-radius: 1rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
