Reset default browser styles
/*Colors
#19325F dark blue
#63D2FF light blue
#BED8D4 light green
#BED8D4 slightly darker green #F1FAEE complementary green
#F7F9F9 off white
#FFFFFF white
*/

html,
body {
  min-height: 100%;
}

/* Set a base font size and family */
body {
  margin: 0;
  font-size: 16px;
  font-family: EB Garamond, Arial, sans-serif;
  /*63D2FF, 19325F*/
  background-repeat: no-repeat;
  background: rgb(99, 210, 255);
  background: linear-gradient(
    180deg,
    rgba(99, 210, 255, 1) 0%,
    rgba(25, 50, 95, 1) 100%
  );
}

html {
  min-height: 100%;
}

main {
    padding-bottom: 2.5rem;
    position: relative;
}

img.logo {
    height: 57px;
}
.navbar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    padding: 12px;
    color: #19325f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    text-transform: lowercase;
}

.navbar a:hover,
.navbar a.active,
.navbar a.active:hover {
    color: #63d2ff;
}
.carousel-item {
  height: 32rem;
  background: black;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}
.container-text {
  position: absolute;
  bottom: 0;
  left: 3rem;
  right: 0;
  padding-bottom: 50px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: top;
  background-size: contain;
  opacity: 0.5;
}

.carousel-container {
  /* max-width: 1920px; */
  margin: 0 auto;
}

#mission {
    height:100%;
    width: 100%;
    top: 3rem;
}

.img-container{
    width: 75%;
    max-width: 400px;
}

.button-container > a {
    margin: 1.5rem;
    width: 9rem;
}

.btn-primary {
    color:white;
    background-color: #19325F;
}

.btn-secondary {
    color:#19325F;
    background-color: #FFFFFF;
}

.circle{
    height: 10rem;
    width: 10rem;
    background-color: #19325F;
    border-radius: 50%;
    display: inline-block;
}



footer {
    bottom:0;
    width:100%;
    /* height:2.5rem; */
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}