@import url(global.css);

.navbar {
    background-color: #ffffff;
}

body {
    background: white !important;
} 

h1, h2, h3, h4, h5, h6, p {
    color: #19325f;
}

.card-body, .card-header {
    color: #19325F;
}

.services-text {
    max-width: 900px;
    margin: 0 auto;
}

.card-header {
    font-weight: semibold;
    background-color: #e852ae4f;
    border: 1px solid #ffffff;
    /* color: #ffffff; */
}

.card-title {
    font-size: 1.25rem;
    font-weight: semibold;
    margin-bottom: 0.5rem;
}

.card {
    position:relative;
}

.card-text {
    line-height: 1.25em;
}

@media (min-width: 1400px) {
    .row-cols-1 {
        min-height: 450px;
    }
}

@media (min-width: 1700px) {
    .row-cols-1 {
        max-width: 1580px;
    }
}

.btn-primary, .btn-primary-special {
    color: var(--primary-color);
    border: 4px solid #eecee2;
    background-color: #ffffff;

}

.card:hover {
    box-shadow: 0 0 12px 4px #0c060a44;
}

.btn-primary:hover, .btn-primary-special:hover {
    color: var(--primary-color);
    border: 4px solid #e852ae;
    transform: scale(1.10);
    background-color: #ffffff;
}

.btn-container{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.next-steps {
    margin-top: 175px;
    margin-bottom: 100px;
}

.book-now-button-white:hover {
    background-color: #19325f;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer .nav-link,
footer .text-muted a,
footer .mb-0 {
    color: #19325f !important;
}