body {
    background: white !important;
} 

h1, h2, h3, h4, h5, h6, p {
    color: #19325f;
}

.book-now-button {
    background: rgb(99, 210, 255);
    background: linear-gradient(
        108deg,
        rgba(99, 210, 255, 0.542454481792717) 13%,
        rgba(20, 58, 122, 0.408) 100%
    );
    border: none;
    color: #19325f;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.274);
    padding: 0.75rem 2rem;
    font-size: 0.7rem;
    text-align: center;
    vertical-align: middle;
}

.book-now-button:hover {
    background-color: #19325f;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.book-now-button-white {
    border: 2px solid #B6E8E9;
    color: #19325f;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.274);
    padding: 0.75rem 2rem;
    font-size: 0.7rem;
    text-align: center;
    vertical-align: middle;
}

.book-now-button-white:hover {
    background-color: #19325f;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.services-text {
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
}

.card-body {
    color: #19325F;
}

footer {
    margin-bottom: -16px !important;
}

footer .nav-link,
footer .text-muted a,
footer .mb-0 {
    color: #19325f !important;
}

/* 
.bar {
    height: 6rem;
    width: 1rem;
    max-width: 0.3rem;
    background-color: #b6e8e9;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    border-radius: 5px;
} */